// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#content_article{
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #272822;
}

h2{
    color: #A6E22E;
}

a{
    text-decoration: none;
}
