body {
  background-color: #272822;
  color: #eee;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

#master_header{ 
    font-size: 20vw;
    font-weight: 900;
    color: #fff;
    letter-spacing: -2vw;
    margin: 0px;
    margin-left: 25px;
    text-decoration: none;
}

#master_header:hover{
  color: #A6E22E;
}

header{
  clear: left;
  margin-top: 7vw;
  height: 12vw;
}

article{
  padding: 1em;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  margin-top:-5px;
  max-width: 1000px;
  background-color: #111
}

nav{
  margin-top: 20px;
  margin-left: 25px;
  font-size: 26px;
  padding-bottom:10px;
}

nav a{
  margin-right: 20px;
  text-decoration: none;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #66D9EF;

  &:visited {
    color: #F92672;
  }

  &:hover {
    color: #A6E22E;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: #A6E22E;
}

.field_with_errors {
  padding: 2px;
  background-color: #F92672;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid #F92672;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #F92672;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.hidden{
  display: none;
}