<!DOCTYPE html>
<html>
  <head>
    <title>LfbergeBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <p id=master_header> 
        lfberge 
      </p>
    </header>

    <nav>
      <a href=#>getLatestPost()</a>
      <a href=#>goto:github</a>
      <a href=#>contact.new</a>
    </nav>

    <article>
      <%= yield %>
    </article>
  </body>
</html>
